 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/flat-remix.css">
</head>
<body>
    <header>
        <p>MyCRYPTO</p>
    </header>
    <section class="content">
        <nav>
            {% block buttons %}{% endblock %}
        </nav>
        {% with mensajes = get_flashed_messages() %}
            {% for mensaje in mensajes %}
                <p class="mensaje">{{ mensaje }}</p>
            {% endfor %}
        {% endwith%}
        {% block contenido %}{% endblock %}
    </section>
    <footer>
        <p>&copy; 2021 - Todos los derechos reservados</p>
    </footer>
</body>
</html>